
/*
 * Variable
 */
/* Colors */
.skin-dark a {
  color: #FC624D;
}
.skin-dark .textnew{
  color: #000;
}
.skin-dark .firstbar .brand img {
  width: 200px;
  display: block;
  float: left;
  background-image: url(https://zupimages.net/up/21/39/l2t3.png);
}
.skin-dark section.not-found p.lead {
  color: #fff;
}
.skin-dark a:hover, .skin-dark a:focus {
  color: #FB5660;
}
.skin-dark .badge-primary {
  background-color: #FC624D;
}
.skin-dark .for-mobile, .skin-dark .for-tablet {
  display: none !important;
}
body.skin-dark {
  color: rgb(255, 255, 255);
}
body.skin-dark {
  background-color: #000;
}
.skin-dark .headline .item a{
  color: white
}
.skin-dark .article .inner {
  box-shadow: 0 1px 2px #ffffff;
}
.skin-dark .best-of-the-week .article h2 a {
  color: #d9d4d4;
}
.skin-dark .headline .carousel-control{
  color: white;
}
.skin-dark .article-list .details h1 a {
 color: #fff
}
.skin-dark article .time, article .category{
  color: #fff;
}
.skin-dark .article p, article p, .most-popular p{
  color: rgb(190 190 190);
}
.skin-dark .firstbar .nav-icons li a {
  display: inline-block;
  color: #ffffff;
}
.skin-dark .menu ul > li > a{
  color: #ffffff;
}
label .skin-dark {
  color: red;
  display: inline-block;
}
.skin-dark section.single article.main-article .main p {
  color: #fff;
}
.skin-dark h1, h2, h3, h4, h6, .line div {
  font-family: 'Raleway';
  color: rgb(255, 255, 255);
  margin: 10px 0;
}
.skin-dark h5,.line div {
  font-family: 'Raleway';
  color: rgb(0, 0, 0);
  margin: 10px 0;
}
.skin-dark .menu{
  background-color: #000;
  border-top: 1px solid #FC624D;
  border-bottom: 1px solid #FC624D;
} 
.skin-dark .firstbar {
  background-color: #000000;
}
.skin-dark .firstbar .search .help-block ul li a {
  color: #ffffff;
}
.skin-dark .breadcrumb li a {
  color: #FC624D;
}
.skin-dark .pagination li.active a {
  background-color: #FC624D;
}
.skin-dark .pagination li.active a:hover, .skin-dark .pagination li.active a:focus {
  background-color: #FC624D;
}
.skin-dark .btn-primary {
  background-color: #FC624D;
  color: #fff;
  border-color: #FC624D;
}
.skin-dark .btn-primary:disabled, .skin-dark .btn-primary.disabled, .skin-dark .btn-primary:hover, .skin-dark .btn-primary:active, .skin-dark .btn-primary:active:hover, .skin-dark .btn-primary:active:focus, .skin-dark .btn-primary:focus {
  color: #fff;
  background-color: #df1e04;
  border-color: #df1e04;
}
.skin-dark .btn-primary:active:hover {
  background-color: #c61b03;
}
.skin-dark .btn-magz {
  color: #FC624D;
  border-color: #FC624D;
}
.skin-dark .btn-magz:after {
  background-color: #FC624D;
}
.skin-dark .btn-magz.white {
  color: #fff;
}
.skin-dark .btn-magz.white:after {
  background-color: #fff;
}
.skin-dark .btn-magz.white:focus, .skin-dark .btn-magz.white:hover {
  color: #FC624D !important;
}
.skin-dark .firstbar .search .help-block div {
  color: #FC624D;
}
.skin-dark .firstbar .nav-icons li a:hover {
  color: #FC624D;
}
.skin-dark .headline .item a .badge {
  background-color: #FC624D;
}
.skin-dark .article h2 a:hover {
  color: #FC624D;
}
.skin-dark article .category a {
  color: #FC624D;
}
.skin-dark article footer .btn-primary {
  background-color: transparent;
  border-color: #FC624D;
  color: #FC624D;
}
.skin-dark article footer .btn-primary:hover {
  color: #fff;
}
.skin-dark article footer .btn-primary:hover:after {
  background-color: #FC624D;
}
.skin-dark .love {
  color: #989898;
}
.skin-dark .love.active {
  color: #FC624D;
}
.skin-dark .best-of-the-week .article h2 a:hover {
  color: #FC624D;
}
.skin-dark .featured {
  display: inline-block;
  width: 100%;
  position: relative;
  height: 550px;
  margin-bottom: 20px;
  overflow: hidden;
}
.skin-dark .featured .inner {
  padding: 20px;
}
.skin-dark .featured figure {
  position: absolute;
  z-index: -2;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.skin-dark .featured .overlay {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: transparent;
  background-image: linear-gradient(transparent 0%, transparent 50%, rgba(0, 0, 0, 0.1) 56%, rgba(0, 0, 0, 0.6) 93%, rgba(0, 0, 0, 0.59) 100%);
  background-image: -webkit-linear-gradient(transparent 0%, transparent 50%, rgba(0, 0, 0, 0.1) 56%, rgba(0, 0, 0, 0.6) 93%, rgba(0, 0, 0, 0.59) 100%);
}
.skin-dark .featured .details {
  padding: 20px 30px;
  position: absolute;
  bottom: 10px;
}
.skin-dark .featured .details h1, .skin-dark .featured .details .category, .skin-dark .featured .details .time {
  color: #fff;
  margin: 0;
}
.skin-dark .featured .details .category {
  margin-bottom: 10px;
}
.skin-dark .featured .details .category a {
  font-size: 12px;
  font-weight: 400;
  padding: 5px 15px;
  display: inline-block;
  border-radius: 30px;
  background-color: #fff;
  color: #000;
  text-decoration: none;
  transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
}
.skin-dark .featured .details .category a:hover {
  opacity: .8;
}
.skin-dark .featured .details h1 {
  margin-bottom: 5px;
  text-transform: capitalize;
  line-height: 1.4em;
  font-size: 28px;
  font-weight: 700;
}
.skin-dark .featured .details h1 a {
  text-decoration: none;
  color: #fff;
}
.skin-dark .topbar ul li a:hover {
  color: #FC624D;
}
.skin-dark .menu ul > li > a .badge {
  background-color: #FC624D;
}
.skin-dark .menu ul > li > a:after {
  background-color: #FC624D;
}
.skin-dark .menu ul > li .dropdown-menu > li.active a:after {
  background-color: #FC624D;
}
.skin-dark .menu ul > li .dropdown-menu > li > a:after {
  opacity: 0;
}
.skin-dark .menu ul > li .dropdown-menu > li:hover > a:after {
  background-color: #FC624D;
  opacity: 1;
}
.skin-dark .article-list .badge {
  background-color: #FC624D;
}
.skin-dark .article-list .details h1 a:hover {
  color: #FC624D;
}
.skin-dark .title-col:after {
  background-color: #FC624D;
}
.skin-dark .article-mini .detail .category a {
  color: #FC624D;
}
.skin-dark .tags-list li a:after {
  background-color: #FC624D;
}
.skin-dark aside .aside-title {
  font-size: 16px;
  position: relative;
  font-weight: 800;
  margin: 0;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.skin-dark aside .aside-title .all {
  position: absolute;
  right: 0;
  font-size: 12px;
  font-weight: 700;
  color: #383838;
  top: 5px;
}
.skin-dark aside .aside-title .all i {
  color: #FC624D;
  margin-left: 5px;
}
.skin-dark aside .aside-title:after {
  content: ' ';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 15px;
  height: 2px;
  background-color: #FC624D;
}
.skin-dark aside .newsletter .icon.error h1 {
  color: #FC624D;
}
.skin-dark aside .newsletter .icon.error i:before {
  color: #FC624D;
}
.skin-dark aside .nav li.active a {
  border-top: 2px solid #FC624D !important;
}
.skin-dark aside .nav li.active a i {
  color: #FC624D;
}
.skin-dark .article-fw .details h1 a:hover {
  color: #FC624D;
}
.skin-dark .comments .detail .link a {
  color: #FC624D;
}
.skin-dark footer.footer {
  border-top: 5px solid #FC624D;
}
.skin-dark footer.footer .block .block-title:after {
  background-color: #FC624D;
}
.skin-dark footer.footer .footer-nav-horizontal li a:hover {
  color: #FC624D;
}
.skin-dark footer.footer .footer-nav li a:hover {
  color: #FC624D;
}
.skin-dark footer.footer .tags li a:hover {
  border-color: #FC624D;
}
.skin-dark footer.footer .copyright {
  text-align: center;
  margin-top: 70px;
  border-top: 1px solid #222;
  padding-top: 35px;
  padding-bottom: 20px;
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.skin-dark footer.footer .copyright a {
  text-decoration: underline;
}
.skin-dark footer.footer .copyright div {
  margin-top: 7px;
}
.skin-dark footer.footer .copyright div i {
  padding: 0 3px;
}
.skin-dark footer.footer .article-mini {
  margin-bottom: 23px;
}
.skin-dark footer.footer .article-mini .inner {
  border-bottom: 0;
}
.skin-dark footer.footer .article-mini h1 {
  font-size: 14px;
}
.skin-dark footer.footer .article-mini h1 a {
  color: #ddd;
}
.skin-dark footer.footer .btn-magz {
  border-color: #fff;
  border-radius: 3px;
  font-size: 14px;
  padding-left: 13px;
  padding-right: 13px;
}
.skin-dark section.single .line {
  margin-top: 30px;
  margin-bottom: 30px;
}
.skin-dark section.single article.main-article header .details li a {
  color: #FC624D;
}
.skin-dark section.single article.main-article .main a {
  color: #FC624D;
}
.skin-dark section.single article.main-article footer .col:last-child .love.active {
  background-color: #FC624D;
  color: #fff;
  border-color: #FC624D;
}
.skin-dark section.single footer .tags li a:hover {
  color: #FC624D;
}
.skin-dark .sharing ul li.count {
  color: #FC624D;
}
.skin-dark .page .element-block .element-title:after {
  background-color: #FC624D;
}
.skin-dark .page .element-block .colors li.primary {
  background-color: #FC624D;
}
.skin-dark .page .element-block .colors li.secondary {
  background-color: #FB5660;
}
.skin-dark .carousel-1 .owl-dots .owl-dot.active span {
  background-color: #FC624D;
}
.skin-dark .carousel-1 .owl-nav .owl-prev:hover, .skin-dark .carousel-1 .owl-nav .owl-next:hover {
  background-color: #FC624D;
}
.skin-dark .nav-tabs-group .nav-tabs-list li.active a {
  border-bottom: 2px solid #FC624D;
}
.skin-dark .nav-tabs-group .form-control {
  height: 30px;
  padding: 0;
  margin-top: 3px;
}
.skin-dark .nav-tabs-group .nav-tabs-right {
  float: right;
  display: inline-block;
  width: 100px;
}
.skin-dark .featured-author .featured-author-body .featured-author-count .item .name {
  color: #FC624D;
}

/*# sourceMappingURL=all.css.map */
